@import 'core/variables';
@import 'core/reset';
//@import 'components/code';
//@import 'components/links';
@import 'layout/page';
//@import 'layout/header';
//@import 'layout/footer';
//@import 'pages/index';

.selected {
    border: solid 2px red;
}

.photo {
    width: 100px;
    height: 100px;
}